.hero__content{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 1440px) {
    .hero__content{
        flex-wrap: wrap;
    }  
    .hero__icon{
        display: none;
    }  
    .hero__img{
        max-width: 100%;
        margin-top: 150px;
        
    }
}

.img__balloon{
    /* margin-top: 70px; */
    margin-bottom: 74px;
}
.hero__info{
    margin-top: 131px;
    position: relative;
    z-index: -1;
    max-width: 520px;
}
.hero__title{
    margin: 0;
    margin-bottom: 19px;
    font-family: "Inter";
    font-size: 60px;
}
.hero__icon{
    position: absolute;
    top: 55px;
    left: 185px; 
}
.hero__text{
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #4A5568;
}